/* =============== */
/* &display=swap&subset=cyrillic-ext */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap');


/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 100%;
}

body {
	line-height: 1;
	background-color: #333;
	font-family: 'Roboto';
	color: #fff;
}

/*===========VARIABLES============*/
$peach: #f2726f;
$black: #000;
$h1: #fff;
$span: #c52618;
$p: #b78e26cb;
$ul: #acb963;

/*======WRAPPER=========*/
.wrapper {
	padding: 0px 0px;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/*======CONTAINER=========*/
[class*='__container'] {
	box-sizing: content-box;
	max-width: 1020px;
	margin: 0px auto;
	padding: 0 15px;
}

/*======MAIN=======*/
.main {
	flex-grow: 1;

}

/*======HEADER=======*/
.header {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-color: #7A956B;
	margin: 0px 0px 20px 0px;
}

/*=======FOOTER============*/
.footer {

}

/*======BLOCK========*/
.block {
	// .block__container
	&__container {}
	// .block__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
		flex-direction: column;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 40px ;
		}
	}
	// .block__item
	&__item {
		min-width: 340px;
	}
	// .block__button
	&__button {
		width: 100%;
	}
}
.button {
	background-color: $peach;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	color: rgb(12, 8, 8);
	border-radius: 8px;
	font-weight: 700;
	font-family: Arial;
	padding: 12px 15px;
	box-shadow: 1px 2px 2px 1px #8f5553;
	&:focus,&:hover {
		color: $peach;
		outline: 2px solid;
		background-color: #333;
	}
	&:active {
		transform: translate(1px, 1px);
		box-shadow: 0px 1px 2px 1px #8f5553;
	}
	&_bg-white {
		&:focus, &:hover {
			color: $peach;
			outline: 2px solid;
			background-color: #fff;
		}
	}
	&_form {
		min-width: 110px;
	}
	&._active {
		display: none;
	}
}

/*=======MODAL========*/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .5);
	color: #000;
	&._active {
		display: block;	
	}
	// .modal__dialog
	&__dialog {
		max-width: 500px;
		margin: 50px auto;
		text-align: center;
	}
	// .modal__content
	&__content {
		position: relative;
		width: 100%;
		padding: 40px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: 4px;
		max-height: 80vh;
		overflow-y: auto
	}
	// .modal__close
	&__close {
		position: absolute;
		top: 8px;
		right: 14px;
		font-size: 30px;
		opacity: .5;
		font-weight: 700;
		border: none;
		background-color: transparent;
		cursor: pointer
	}
	// .modal__title
	&__title {
		text-align: center;
		font-size: 16px;
		text-transform: uppercase
	}
	// .modal__input
	&__input {
		display: block;
		margin: 20px auto;
		width: 300px;
		height: 50px;
		background-color: #fff;
		box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
		font-size: 16px;
		padding: 0 20px;
		&:focus {
			outline: 1px solid $peach;
		}
		&:focus::placeholder {
			transition: all 0.3s ease 0s;
			transform: translate(-100%, 0);
		}
		&._active {
			display: none;
		}
	}
	// .modal__radio
	&__radio {
		margin: 20px auto;
		display: none;
		&._active {
			display: block;
		}
	}
}

/*=======RADIOBUTTONS========*/
.radiobuttons {
	// .radiobuttons__item
	&__item {
		font-size: 0px;
		position: relative;
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
	}
	// .radiobuttons__input
	&__input {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		&:checked + .radiobuttons__label::after {
			transform: scale(1);
		}
	}
	// .radiobuttons__label
	&__label {
		font-size: 16px;
		min-width: 60px;
		position: relative;
		display: inline-flex;
		align-items: center;
		column-gap: 10px;
		cursor: pointer;
		&::before{
			content:'';
			flex: 0 0 20px;
			height: 20px;
			min-width: 20px;
			border-radius: 50%;
			background-color: #fff;
			border: 1px solid $peach;	
		}
		&::after{
			content:'';
			position: absolute;
			top: 5px;
			left: 5px;
			background-color: $peach;
			border-radius: 50%;
			height: 10px;
			width: 10px;
			transform: scale(0);
			transition: transform 0.3s ease 0s;
		}
	}
}

/*=======INSERT========*/
.insert {
	padding: 40px 0px 0px 0px;
	// .insert__container
	&__container {
		li {
			position: relative;
			color: $ul;
			padding: 0px 0px 0px 20px;
			&:not(:last-child) {
				margin: 0px 0px 10px 0px; 
			}
			&::before{
				content:'';
				top: 10px;
				left: 0;
				background-color: $ul;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				position: absolute;
				border-radius: 50%
			}
		}
		h1 {
			color: $h1;
		}
		span {
			display: block;
			color: $span;
		}
		p {
			color: $p;
		}
		li, h1, span, p {
			font-weight: 700;
			font-size: 32px;
		}
		ul, h1, span, p {
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
		}
	}
} 

