@charset "UTF-8";
/* =============== */
/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,900&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  line-height: 1;
  background-color: #333;
  font-family: "Roboto";
  color: #fff;
}

/*======VARIABLES=========*/
/*======WRAPPER=========*/
.wrapper {
  padding: 0px 0px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*======CONTAINER=========*/
[class*=__container] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

/*======MAIN=======*/
.main {
  flex-grow: 1;
}

/*======HEADER=======*/
.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #7A956B;
  margin: 0px 0px 20px 0px;
}

/*======IBG=======*/
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*======INFO=======*/
.info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

/*======FORM=======*/
.form {
  max-width: 400px;
}
.form__line:not(:last-child) {
  margin: 0 0 20px 0;
}
.form__input {
  width: 100%;
  padding: 10px;
  font-family: Roboto;
}
.form__input_area {
  height: 100px;
  resize: none;
}
.form__input._error {
  background-color: #bd9b9a;
}
.form__input:focus {
  outline: 2px solid #F2726F;
}
.form__label {
  display: block;
}
.form__label:not(:last-child) {
  margin: 0 0 10px 0;
}
.form__button {
  display: flex;
  justify-content: space-between;
}

.basket {
  cursor: pointer;
  position: relative;
}
.basket__img {
  width: 100px;
}
.basket__quantity {
  visibility: hidden;
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 24px;
  top: -3px;
  right: -10px;
  border-radius: 50%;
  background-color: #F2726F;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.basket__quantity._active {
  visibility: visible;
}

/*=======BUTTON=======*/
.button {
  text-transform: uppercase;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 12px;
  background-color: #F2726F;
  cursor: pointer;
  min-width: 100px;
}

/*======BLOCK=======*/
.block {
  color: #fff;
}
.block__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0px -15px;
}
.block__item {
  padding: 0px 15px;
  flex: 1 0 25%;
  min-width: 250px;
}
@media (min-width: 991.98px) {
  .block__item {
    max-width: 285px;
  }
}

.item-block {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #252525;
}
.item-block__picture {
  padding: 0px 0px 74.29% 0px;
}
.item-block__count {
  visibility: hidden;
  position: absolute;
  width: 35px;
  height: 35px;
  font-size: 24px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: #F2726F;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.item-block__count._active {
  visibility: visible;
  z-index: 5;
}
.item-block__body {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex: 1 1 auto;
}
.item-block__body *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-block__title {
  font-size: 40px;
  color: #fff;
}
.item-block__text {
  line-height: 1.5;
  flex: 1 1 auto;
}
.item-block__button {
  padding: 10px 15px;
  display: block;
  text-align: center;
  background-color: #F2726F;
  color: #fff;
  text-transform: uppercase;
}

/*=======MODAL========*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
}
.modal._active {
  display: block;
}
.modal__container {
  margin-top: 30px;
  background-color: #d9d2d2;
  position: relative;
  padding: 15px;
}
.modal__close {
  position: absolute;
  top: -2px;
  right: 2px;
  font-size: 30px;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__close:hover {
  color: #F2726F;
}
.modal__title {
  font-size: 40px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
